/* An animation that does nothing! Takes an element from 0 opacity to 0 opacity. */
@keyframes hide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Fades in starting at 33% and is full opacity at 66% */
/* JS can listen for its start, pause it while it does stuff, and show a loader */
/* Without JS, or in case of failure, this animation can just proceed to show content */
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity:1;
  }
}

/* Pulsing animation for a loader element */
@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 800px) {
  .main {
    max-width: 100vw;
    padding: 0 20px;
  }
}

/* The element that contains all page content, in this example */
/* Even if no JS is in play, these animations will run on page load */
.main {
  /* set up 2 animations to run in series (one after the other) */
  /* 1. An animation that goes from hidden to hidden! (but it still has a start and end */
  /* 2. An animation that fades content in */
  animation-name: hide, fade_in;
  /* The delay of the 2nd animation needs to match the duration of the 1st */
  animation-duration: 100ms, 1000ms;
  /* The delay of the 2nd animation needs to match the duration of the 1st */
  /* The 1st animation has no delay */
  animation-delay: 0ms, 100ms;
  /* Not sure whether each animation needs its timing function defined, but have done here */
  animation-timing-function: ease-in, ease-in;
  /* Each animation has a single iteration */
  animation-iteration-count: 1, 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.img {
  max-width: 100%;
}

.loader {
  padding: 20px;
  width: 1px;
  height: 1px;
  background-color: orange;
  border-radius: 50%;
  border: 5px solid red;
  position: absolute;
  top: calc(50vh - 10.5px);
  animation-name: loader;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.no-js .loader {
  display: none;
}

.loaded .loader {
  display: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.loaded {
  animation: fade_in, 1000ms, ease-in;
}

main {
  position: relative;
}

.reload {
  position: absolute;
  top: 0;
  right: 0;
}
