<!doctype html>
<html>

  <head>
    <title>Cats!</title>
    <link rel="stylesheet" href="css/base.css">
    <script>
      window.GLOBALS = window.GLOBALS || {};
      window.GLOBALS.THE_CAT_API_KEY = "{{ projectMain.THE_CAT_API_KEY }}";
    </script>
    <script src="scripts/index.js"></script>
  </head>

  <body class="no-js">
    <main class='main'>
      <h1>The cat app</h1>
      <h2 class="title">Hello, Cleveland!</h2>
      <p class="description">Hey, Cleveland. This is content you'd see if JavaScript was turned off.</p>
      <div class="image"></div>
      <button class="reload">Reload</button>
    </main>
    <div class="loader"></div>
  </body>

</html>
